{{- /* vim: set filetype=bash: */ -}}

# Exit if not interactive
case $- in
	*i*) ;;
	*) return;;
esac


# Start tmux if we are not already in tmux and not in an editor buffer
if [ -z "$TMUX" ] && [ -z "$VIM_TERMINAL" ] && [ -z "$INSIDE_EMACS" ] &&
	[ -z "$INTELLIJ_ENVIRONMENT_READER" ] && [ -z "$SSH_CONNECTION" ]
then
	if [ -x /opt/homebrew/bin/tmux ]; then
		if [ ! -x "$(command -v tmux)" ]; then
			PATH="/opt/homebrew/bin:$PATH"
		fi
	fi
	if [ -x "$(command -v tmux)" ]; then
		export EDITOR=vi # Tell tmux to use vi-style keys
		# Create a new session attached to the session group of the 'M'
		# session. The 'M' session is ensured to exist by being created
		# in .tmux.conf. Then make sure the session created here is
		# destroyed when the terminal is detached.
		exec tmux new-session -t M \; set-option destroy-unattached
	else
		echo "tmux not available"
	fi
fi


#
# Actual configuration follows
#

# Note: use 'bash -ic "set -ex; source ~/.bashrc"' to debug.


### Internal functions

prepend_if_not_in_path() {
	if [ -d "$2" ]; then
		if [ -z "${!1}" ]; then
			export $1="$2"
		else
			[[ ":${!1}:" == *":$2:"* ]] || export $1="$2:${!1}"
		fi
	fi
	return 0
}

append_if_not_in_path() {
	if [ -d "$2" ]; then
		if [ -z "${!1}" ]; then
			export $1="$2"
		else
			[[ ":${!1}:" == *":$2:"* ]] || export $1="${!1}:$2"
		fi
	fi
	return 0
}

source_if_file() {
	[ -s "$1" ] && source "$1"
	return 0
}

function_declared() {
	declare -F $1 >/dev/null
	return $?
}


### Generic paths

prepend_if_not_in_path PATH "$HOME/.local/bin"  # E.g., pipx
prepend_if_not_in_path PATH "$HOME/.cargo/bin"
prepend_if_not_in_path PATH /usr/local/bin
prepend_if_not_in_path PATH /usr/local/sbin
append_if_not_in_path PATH "$HOME/bin"

prepend_if_not_in_path MANPATH /usr/local/share/man
prepend_if_not_in_path MANPATH /usr/local/man

prepend_if_not_in_path INFOPATH /usr/share/info # In case INFOPATH not set
prepend_if_not_in_path INFOPATH /usr/local/share/info
prepend_if_not_in_path INFOPATH /usr/local/info


### General environment

export PAGER=less
export EDITOR=vim
export VISUAL=vim
export CLICOLOR=1 # Colors for 'ls'


### Bash options

FIGNORE='~'
HISTCONTROL=ignorespace:ignoredups
HISTSIZE=501
shopt -s checkjobs checkwinsize
# I like 'failglob', but it can interfere with third party scripts (Ubuntu)
shopt -s globstar
shopt -s histappend lithist
shopt -s progcomp_alias


### Prompt and tmux colors

ansi_black=0
ansi_red=1
ansi_green=2
ansi_yellow=3
ansi_blue=4
ansi_magenta=5
ansi_cyan=6
ansi_white=7

case $(uname) in
	Darwin)	ps_color=$ansi_green
		ps_htext=$ansi_white
		tmuxstatusstyle=fg=black,bg=green
		tmuxpaneactiveborderstyle=fg=green
		;;
	Linux)	ps_color=$ansi_yellow
		ps_htext=$ansi_black
		tmuxstatusstyle=fg=black,bg=yellow
		tmuxpaneactiveborderstyle=fg=yellow
		;;
	*)	ps_color=$ansi_blue
		ps_htext=$ansi_white
		tmuxstatusstyle=bg=blue
		tmuxpaneactiveborderstyle=fg=blue
		;;
esac


### Prompts

ps_esc() {
	printf '\[\e'$1'\]'
}

ps_sgr() { # ANSI "select graphic rendition"
	ps_esc "[$1m"
}

ansi_fg=3
ansi_bg=4
ansi_bold=1
ps_sgr_reset=$(ps_sgr)
ps_highlighted=$(ps_sgr "$ansi_bold;$ansi_bg$ps_color;$ansi_fg$ps_htext")
ps_boldcolored=$(ps_sgr "$ansi_bold;$ansi_fg$ps_color")
ps_colored=$(ps_sgr "$ansi_fg$ps_color")
ps_alert=$(ps_sgr "$ansi_bold;$ansi_bg$ansi_white;$ansi_fg$ansi_red")

PS1=
PS1+=$ps_alert'`ps_print_retval`'$ps_sgr_reset
PS1+=$ps_highlighted'[\u@\h \w]'$ps_sgr_reset
PS1+=$ps_colored'`ps_git_safe`'$ps_sgr_reset
PS1+='\n'
PS1+=$ps_boldcolored'\!'
PS1+=$'\u00a0' # U+00a0 NO-BREAK SPACE to make the prompt easy to search for
PS1+='$'$ps_sgr_reset' '

PS2=$ps_highlighted'>'$ps_sgr_reset' '

ps_print_retval() {
	local retval=$?
	[ "$retval" -ne 0 ] && echo " $retval "
}

ps_git_safe() {
	function_declared __git_ps1 && __git_ps1 " (%s)"
}

GIT_PS1_SHOWDIRTYSTATE=1 # * or +
GIT_PS1_SHOWSTASHSTATE=1 # $
GIT_PS1_SHOWUNTRACKEDFILES=1 # %
GIT_PS1_SHOWUPSTREAM=auto # < > <> or =
GIT_PS1_STATESEPARATOR= # No inconsistent space


### Matching tmux colors

if [ -n "$TMUX" ]; then
	tmux set-option -g status-style $tmuxstatusstyle
	tmux set-option -g pane-active-border-style $tmuxpaneactiveborderstyle
fi


### Shell aliases

alias la='ls -A'
alias ll='ls -lFh'
alias lal='ls -lAFh'
alias lsrecent='ls -lFht | head'

# alias ..='cd ..'; alias ...='cd ../..'; etc.
alias_name=..
alias_target='cd ..'
for ((i=1;i<=10;i++)); do
	alias $alias_name="$alias_target"
	alias_name=$alias_name.
	alias_target="$alias_target/.."
done
unset alias_target
unset alias_name

alias tree='tree -I "*~"'
alias octave='octave -q'
alias bc='bc -lq'
alias w3m='w3m -v'
alias hd="od -A x -t x1c"

alias 'code.'='code .'

alias ssh-keygen='ssh-keygen -t ed25519 -a 100'

alias rule='printf \\033[33m◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼◼\\033[m\\n'

vimpath()
{
	tmpfile=$(mktemp /tmp/vimpath-XXXXXX)
	echo "$PATH" >$tmpfile
	vim $tmpfile
	export PATH="$(<$tmpfile)"
	rm -f $tmpfile
}

asciidump()
{
	hexdump -ve '80/1 "%1_p" "\n"' "$@"
}

nkfless()
{
	nkf -w ${1} | less
}


### Application setup

# GNU ls
if [ -x "$(command -v dircolors)" ]; then
	eval $(dircolors --bourne-shell)
	alias ls='command ls --color=auto'
fi


# Less
export LESS='-XFRi'
export LESSCHARSET=utf-8
if [ -x "$(command -v source-highlight)" ]; then
	src_hilite_lesspipe=$(command -v src-hilite-lesspipe.sh)
	if [ -x $src_hilite_lesspipe ]; then
		export LESSOPEN="| $src_hilite_lesspipe %s"
	fi
fi


# Gradle: use gradlew when present
gradle() {
	local gradlew=
	local dir=.
	while [ $(cd $dir; pwd) != / ]; do
		if [ -x $dir/gradlew ]; then
			gradlew=$dir/gradlew
			break
		fi
		if [ $dir = . ]; then dir=..; else dir=$dir/..; fi
	done
	if [ -z "$gradlew" ]; then
		gradlew=$(which gradle)
	fi
	if [ -z "$gradlew" ]; then
		echo "neither gradlew nor gradle found"
		return 1
	fi
	echo "[$gradlew]"
	$gradlew "$@"
}


# Node version manager
export NVM_DIR=$HOME/.nvm
if [ -d /opt/homebrew/opt/nvm ]; then
	source_if_file /opt/homebrew/opt/nvm/nvm.sh
	source_if_file /opt/homebrew/opt/nvm/etc/bash_completion.d/nvm
else
	# Manual install ($NVM_DIR is a clone of nvm.git)
	source_if_file $NVM_DIR/nvm.sh
	source_if_file $NVM_DIR/bash_completion
fi


# Rust
if [ -f "$HOME/.cargo/env" ]; then
	source "$HOME/.cargo/env"
fi


# Ruby rbenv
if [ -x "$(command -v rbenv)" ]; then
	eval "$(rbenv init -)"
fi


# Miniforge

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$("$HOME/miniforge3/bin/conda" 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "$HOME/miniforge3/etc/profile.d/conda.sh" ]; then
        . "$HOME/miniforge3/etc/profile.d/conda.sh"
    else
        export PATH="$HOME/miniforge3/bin:$PATH"
    fi
fi
unset __conda_setup

if [ -f "$HOME/miniforge3/etc/profile.d/mamba.sh" ]; then
    . "$HOME/miniforge3/etc/profile.d/mamba.sh"
fi
# <<< conda initialize <<<


# Aliases for Java tools via cjdk
# (cjdk should be installed via `uv tool install cjdk`)
JAPICMP_VERSION=0.17.1
alias japicmp='cjdk --jdk temurin-jre exec -- java -jar $(cjdk cache-file https://repo1.maven.org/maven2/com/github/siom79/japicmp/japicmp/${JAPICMP_VERSION}/japicmp-${JAPICMP_VERSION}-jar-with-dependencies.jar japicmp-${JAPICMP_VERSION}-jar-with-dependencies.jar)'


# Aliases to set git config
# Deter basic scrapers, FWIW.
rot13() {
	echo $1 |tr 'A-Za-z' 'N-ZA-Mn-za-m'
}
alias git-config-wisc='git config user.email $(rot13 zngfhpuvqn@jvfp.rqh) && git config user.name "Mark A. Tsuchida"'
alias git-config-gmail='git config user.email $(rot13 znexgfhpuvqn@tznvy.pbz) && git config user.name "Mark A. Tsuchida"'


#
# OS-specific settings
#

{{ if eq .chezmoi.os "darwin" }}
{{ template "bashrc-darwin.tmpl" . }}
{{- else if eq .chezmoi.os "windows" }}
{{ template "bashrc-windows.tmpl" . }}
{{- else if (and (eq .chezmoi.os "linux")
                 (or (eq .chezmoi.osRelease.idLike "debian")
                     (eq .chezmoi.osRelease.id "debian"))) }}
{{ template "bashrc-debian.tmpl" . }}
{{- end }}


#
# Local settings
#
source_if_file .bashrc-local

#
# Further settings that depend on OS/local settings
#

# Python

{{ if eq .chezmoi.os "windows" }}
alias venv-activate='source ./venv/Scripts/activate'
{{- else }}
alias venv-activate='source ./venv/bin/activate'
{{- end }}

# See also the PowerShell version bin/Venv.ps1
venv() {
	if [ ! -d ./venv ]; then
		echo 'Creating venv...'
		python -m venv venv
		echo '*' >venv/.gitignore
		venv-activate
		python -m pip install --upgrade pip setuptools
	else
		venv-activate
	fi
}

export PIP_REQUIRE_VIRTUALENV=true


# Ignore any settings that various installers might "smartly" append.
return

# -- last line of intended content --
