{{- /* vim: set filetype=gitconfig: */ -}}
[core]
	commitGraph = true
[color]
	ui = auto
[credential]
{{- if (or (eq .chezmoi.os "darwin")
           (eq .chezmoi.os "windows")) }}
	helper =
	helper = manager
{{- else }}
	helper = cache --timeout=7200
{{- end }}
[merge]
	conflictstyle = zdiff3
	tool = vimdiff
	guitool = gvimdiff
[fetch]
	writeCommitGraph = true
[push]
	default = simple
[pull]
	ff = only
[diff]
	algorithm = histogram
	colorMoved = default
	dirstat = files,0
	mnemonicPrefix = true
	renames = true
	tool = difftastic
	guitool = gvimdiff
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft --display=inline --syntax-highlight=off "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	dft = difftool
	graph = log --graph
[hub]
	protocol = https
[init]
	defaultBranch = main
[user]
	useConfigOnly = true
[rebase]
	autosquash = true
[rerere]
	enabled = true
	autoupdate = true
[tag]
	sort = version:refname
[commit]
	verbose = true
