{{- /* vim: set filetype=gitconfig: */ -}}
[color]
	ui = auto
[credential]
{{- if eq .chezmoi.os "windows" }}
	helper =
	helper = manager-core
{{- else if eq .chezmoi.os "darwin" }}
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager-core
{{- else }}
	helper = cache --timeout=7200
{{- end }}
[merge]
	conflictstyle = diff3
	tool = vimdiff
	guitool = gvimdiff
[push]
	default = simple
[pull]
	ff = only
[diff]
	dirstat = files,0
	tool = vimdiff
	guitool = gvimdiff
[alias]
	graph = log --graph
[hub]
	protocol = https
[init]
	defaultBranch = main
[user]
	useConfigOnly = true
[rebase]
	autosquash = true
