{{- /* vim: set filetype=bash: */ -}}

# Hide the "default is zsh" notice
export BASH_SILENCE_DEPRECATION_WARNING=1


# macOS /etc/bashrc sources /etc/bashrc_Apple_Terminal, which sets up
# PROMPT_COMMAND to tell Terminal.app the cwd. I don't need this.
if [ "$PROMPT_COMMAND" = "update_terminal_cwd" ]; then
	unset PROMPT_COMMAND
fi


### Shell aliases
if [ -x "$(command -v ggrep)" ]; then
	alias grep='ggrep --color=auto'
	alias fgrep='gfgrep --color=auto'
	alias egrep='gegrep --color=auto'
fi
alias 'open.'='open .'
alias preview='open -a Preview'
alias skim='open -a Skim'
alias acroread='open -a "Adobe Reader.app"'
alias chrome='open -a "Google Chrome.app"'
alias pbclear='pbcopy < /dev/null'

vimpb()
{
	tmpfile=$(mktemp /tmp/vimpb-XXXXXX)
	pbpaste >$tmpfile
	vim $tmpfile
	pbcopy <$tmpfile
	rm -f $tmpfile
}

manskim()
{
	man -t "$@" | open -f -a Skim
}

manprev()
{
	man -t "$@" | open -f -a Preview
}

doi()
{
	open http://dx.doi.org/${1}
}

# Capture QR code (or any barcode) from selection and print content to stdout.
qrcapture()
{
	tmpdir=$(mktemp -d /tmp/capture-qr-XXXXXX)
	qrpng=$tmpdir/qr.png
	screencapture -i $qrpng
	zbarimg -q --raw $qrpng
	rm -rf $tmpdir
}

# Similar, but OCR by Tesseract; pass any args (such as '-l jpn') to tesseract.
ocrcapture()
{
	tmpdir=$(mktemp -d /tmp/capture-ocr-XXXXXX)
	screencapture -i $tmpdir/text.png
	# Tesseract seems to erroneously access the file basename, so change to
	# the directory.
	pushd $tmpdir >/dev/null
	tesseract text.png - "$@" quiet
	popd >/dev/null
	rm -rf $tmpdir
}


### Homebrew
if [ -x /opt/homebrew/bin/brew ]; then
	eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Bash completions
# This should be sufficient for bash-completion@2 to load everything, including
# the scripts installed in $BASH_COMPLETION_COMPAT_DIR.
source_if_file /usr/local/etc/profile.d/bash_completion.sh
source_if_file /opt/homebrew/etc/profile.d/bash_completion.sh


### Application setup

# MacVim
if [ -x /Applications/MacVim.app/Contents/bin/mvim ]; then
	append_if_not_in_path PATH "/Applications/MacVim.app/Contents/bin"
fi


# MacTeX
# PATH and MANPATH are automatically added by system
prepend_if_not_in_path INFOPATH /Library/TeX/Documentation/texmf-doc/info


# Visual Studio Code 'code' command
append_if_not_in_path PATH "/Applications/Visual Studio Code.app/Contents/Resources/app/bin"


# Google Cloud Platform
source_if_file ~/google-cloud-sdk/path.bash.inc
source_if_file ~/google-cloud-sdk/completion.bash.inc


# Gnuplot
export GNUTERM=qt


# Go (Homebrew)
if [ -x "$(command -v go)" ]; then
	export GOROOT=/usr/local/opt/go/libexec
	append_if_not_in_path PATH $GOROOT/bin
fi


# Java
export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)
if [ ! -z "$JAVA_HOME" ]; then
	append_if_not_in_path MANPATH "$JAVA_HOME/man"
fi


# Groovy (Homebrew)
if [ -x /usr/local/bin/groovysh ] && [ -d /usr/local/opt/groovy ]; then
	export GROOVY_HOME=/usr/local/opt/groovy/libexec
fi


# Python
# Homebrew still installs 'python3'
alias python=python3
# Leave out 'alias pip=pip3' because global pip should be used with caution
