{{- /* vim: set filetype=bash: */ -}}

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias py='winpty py.exe'
alias python='winpty python.exe'
alias ipython='winpty ipython.exe'
